@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .outterPage {
    @apply w-full h-full bg-zinc-800
  }

.writer-text {
  letter-spacing: 2px;
  @apply text-white text-3xl md:text-5xl font-mono overflow-hidden font-bold select-none;
}

.text-first {
  animation: typing-first 5s steps(6,end) infinite;
  @apply overflow-hidden whitespace-nowrap hover:text-emerald-400
}
.text-second {
  animation: typing-second 5s steps(12,end) infinite;
  @apply overflow-hidden whitespace-nowrap hover:text-emerald-400
}
.text-third {
  animation: typing-third 5s steps(13,end) infinite;
  @apply overflow-hidden whitespace-nowrap hover:text-emerald-400
}


@keyframes typing-first {
  0% {
    width: 0%
  }
  20% {
    width: 168px
  }
  70%{
    width: 168px
  }
  90% {
    width:168px
  }
  100% {
    width: 0%
  }
}

@keyframes typing-second {
  0% {
    width: 0%
  }
  20% {
    width: 0%
  }
  40% {
    width: 340px
  }
  80% {
    width:340px
  }
  90% {
    width:0%
  }
  100% {
    width: 0%
  }
}

@keyframes typing-third {
  0% {
    width: 0%
  }
  40% {
    width: 0%
  }
  60% {
    width: 370px
  }
  70% {
    width:370px
  }
  80% {
    width:0%
  }
  100% {
    width: 0%
  }
}
::-webkit-scrollbar {
  @apply w-2
}
::-webkit-scrollbar-track {
  @apply bg-zinc-800;
}
::-webkit-scrollbar-thumb {
  @apply bg-zinc-500 hover:bg-emerald-400 rounded-3xl;
}


}